.about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
}

#about {
    padding-top: 3rem;
    padding-bottom: 0;

    .row {
  	    padding: 3rem 0; background: #efefef; color: black !important;
    }
    a {   
		color: $black;
		transition: all 1s ease-in;

		&:hover, &:active, &:focus {
			color: $black;
			text-decoration: underline;
		}
	}
}