.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Fira Sans';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-icon {
  background: fade-out($white, 0.5);
  &:hover {
    background-color: darken($primary, 1%) !important;
  }
  &:focus {
    background-color: darken($primary, 1%) !important;
    color: white;
  }
  &:active {
    background-color: darken($primary, 10%) !important;
  }
  border: none;
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 8px 10px;
  font-size: 2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%) !important;
  }
  &:focus {
    background-color: darken($primary, 10%) !important;
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

